body {
    background-color: lightblue;
}

.companyTicker{
    margin: auto;
    background-color: green; /* Comment out this line after debug */
    display: flex;
    justify-content: center;
}

.top{
    margin: auto;
    height: 500px;
    display: flex;
    /*added*/
    flex-direction: row;
    /*added*/
    
}

.newsContainer{
    border: 1px solid black;
    border-radius: 4px;
    width: 50%;
    position: relative;
    overflow-y: scroll;
    overflow-wrap: break-word;
    /* background-color: orangered; */
}

.stockChartContainer{
    border: 1px solid black;
    border-radius: 4px;
    width: 50%;
    position: relative;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.article{
    height: 50%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

img {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
