<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'frontend.css' %}">
    <title>Stock Platform Site</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

</head>
<body>
    <div class="companyTicker">
        <form class="companyTickerForm">
                <input id="search" type="text" class="Ticker" placeholder="Stock Ticker..." />
                <button id="clear" class="Search">Search</button>
        </form>
    </div>

    <div class="top">

        
        <div class="stockChartContainer">
            <canvas id="stockChart"></canvas>
        </div>
        

        <div class="newsContainer">
            {% for article in articles %}
            <div class="article">
                <h2>{{ article.title }}</h2>
                <img src="{{ article.urlToImage }}" alt="TSLA">
                <p>{{ article.description }} <a href="{{ article.url }}">Read more</a></p>
                
            </div>
            {% endfor %}
        </div>

        
    </div>

    <div class="incomeContainer">
        <div id="incomeStatement"></div>
        
    </div>

    <div class="balanceSheetContainer">
        <div id="balanceSheet"></div>
    </div>

    <div class="companyOverviewContainer">
        <div id="companyOverview"></div>
    </div>

    <div class="cashFlowContainer">
        <div id="cashFlow"></div>
    </div>

    <div class="earningsContainer">
        <div id="earnings"></div>
    </div>

    <div class="earningsCalanderContainer">
        <div id="earningsCalander"></div>
    </div>

    <div class="optionsContainer">
        <div id="options"></div>
    </div>

    <div class="redditContainer">
        <h2>Reddit Posts <input type="text" id="subredditInput" placeholder="Enter subreddit (default: stocks)" />
        <button onclick="fetchRedditPosts()">Fetch Posts</button></h2>
        
        <div id="reddit-posts" class="redditPosts"></div>
    </div>

    <script src="{% static 'frontend.js' %}"></script>
</body>

</html>