<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'frontend.css' %}">
    <title>Stock Platform Site</title>
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/jquery-rss/4.3.0/jquery.rss.min.js">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet">
    <script src="dist/rss.global.min.js"></script>
    <script>
        window.onload = function () {
            new RSS(
                document.querySelector("#rss-feeds"),
                "https://partnernetwork.ebay.de/epn-blog?format=rss"
            ).render();
        };
    </script>
</head>l
<body onload="boot()">
    <div id="rss-feeds"></div>
    <div class="platformName">
        <h1>Stock Platform</h1>
    </div>
    <div class="platformTabs">
        <button class="platformButton" id="stocks">Stocks</button>
        <button class="platformButton" id="crypto">Cryptocurrencies</button>
        <button class="platformButton" id="world" >World Markets</button>
    </div>
    <div class="stockTape" id="stockTape">
    
    </div>
    <div class="window">
        
        <div class="leftWindow">
            <div class="companyTicker">
                <form class="companyTickerForm">
                    <input id="searchTicker" type="text" class="Ticker" placeholder="Stock Ticker..." />
                    <button id="1px" type="button" class="Search" onclick="updateSymbol()">Search</button>
                </form>
            </div>
            <div class="overviewButtons">
                <button class="overviewButton" id="marketOverview" onclick="">Market Overview</button>
                <button class="overviewButton" id="marketNews" onclick="">Market News</button>


            </div>
            <div class="watchlist">
                <div class="platformName">
                    <h1>Watchlist</h1>
                </div>
                <button class="watchListSearch" id="watchListSearch">
                    
                </button>
                
            </div>
        </div>
        <div class="rightWindow">
            <div class="stockSummary" id="stockSummary">
            </div>
            <div class="stockChartContainer">
                <div id="stockChart"><!-- TradingView Widget BEGIN -->
            
                </div>
            
            <div class="infoTabs">
                <button class="infoButton" id="companyProfileButton" onclick="companyProfile()">Profile</button>
                <button class="infoButton" id="companyOverviewButton" onclick="companyOverview()">Fundamentals</button>
                <button class="infoButton" id="companyNewsButton" onclick="companyNews()">News</button>
                <button class="infoButton" id="pricesButton" onclick="companyPrices()">Options</button>
                <!-- <button class="infoButton" id="companyIncomeButton" onclick="companyIncome()">Income</button>
                <button class="infoButton" id="companyBalanceSheetButton" onclick="companyBalanceSheet()">Balance Sheet</button>
                <button class="infoButton" id="companyCashFlowButton" onclick="companyCashFlow()">Cash Flow</button>
                <button class="infoButton" id="companyEarningsButton" onclick="companyEarnings()">Earnings</button>
                <button class="infoButton" id="companyEarningsCalanderButton" onclick="companyEarningsCalander()">Earnings Calander</button> !-->
                <button class="infoButton" id="redditButton" onclick="companyReddit()">Reddit</button>
            </div>
            <div class="Prices container">
                <div class="optionsContainer">
                    <div id="options"></div>
                </div>
            </div>
            <div class="newsContainer container">
                <div id="news"></div>
            </div>

            <div class="companyOverviewContainer container">
                <div id="companyOverview"></div>
            </div>

            <div class="incomeContainer container">
                <div id="incomeStatement"></div>
                
            </div>

            <div class="balanceSheetContainer container">
                <div id="balanceSheet"></div>
            </div>

            
            <div class="cashFlowContainer container">
                <div id="cashFlow"></div>
            </div>

            <div class="earningsContainer container">
                <div id="earnings"></div>
            </div>

            <div class="earningsCalanderContainer container">
                <div id="earningsCalander"></div>
            </div>
            <div class="companyProfileContainer container">
                <div id="companyProfile"></div>
            </div>

            

            <div class="redditContainer container hide">
                <input type="text" class="subredditClassInput" id="subredditInput" placeholder="Enter subreddit" />
                <button type="button" class="subredditClassButton" id="subredditButton" onclick="fetchRedditPosts()">Fetch Posts</button>
                <div id="reddit-posts" class="redditPosts"></div>
                <!-- hi -->
            </div>
        </div>
    </div>

    <script src="{% static 'frontend.js' %}"></script>
</body>

</html>