<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'frontend.css' %}">
    <title>News Site</title>
</head>
<body>
    <div class="companyTicker">
        <form class="companyTickerForm">
                <input id="search" type="text" class="Ticker" placeholder="Stock Ticker..." />
                <button id="clear" class="Search">Search</button>
        </form>
    </div>

    <div class="newsContainer">
        {% block content %}
        {% for article in articles %}
        <div class="article">
            <h2>{{ article.title }}</h2>
            <img src="{{ article.urlToImage }}" alt="TSLA">
            <p>{{ article.description }} <a href="{{ article.url }}">Read more</a></p>
            
        </div>
        {% endfor %}
        {% endblock %}
    </div>
    <script src="{% static 'frontend.js' %}"></script>
</body>

</html>